.sidebar {
  position: absolute;
  width: 260px;
  min-height: 100%;
  background: var(--user-layer);
  border-right: 1.5px solid var(--stroke);
  transition: all 0.2s ease-in;
  z-index: 9999;

  &[data-collapse="true"] {
    width: 78px;
    transition: all 0.4s cubic-bezier(.47,1.64,.41,.8);
  }

  @media (max-width: 1024px) {
    display: none;
  }
}
