.cartChart {
  padding: 14px 20px;
  border-radius: 6px;
  background: var(--user-layer);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

  &__container {
    position: relative;
    min-height: 220px;
    min-width: 220px;
    height: 15.63vw;
    width: 15.63vw;
    margin: 0 auto;

    &__number {
      display: flex;
      width: 100%;
      justify-content: center;
      position: absolute;
      font-size: 36px;
      bottom: calc(50% - 22px);
      z-index: 1;
    }
  }

  &__title {
    font-weight: 600;
    color: var(--third-text);
  }

  &__picked {
    display: flex;
    align-items: center;
    padding: 12px 0;

    &__text {
      font-weight: 400;
      color: var(--secondary-text);
      margin-left: 8px;
    }
  }

  &__pie {
    width: 800px;
  }
}