.wrapper {
  display: flex;
  align-items: center;
  margin: 0 auto;
  width: 100%;
  padding: 0 0 0 78px;
  min-height: 100vh;

  @media (max-width: 1024px) {
    padding: 60px 0 0 0;
    align-items: flex-start;
  }
}

.container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 32px;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 10px;
  min-width: 308px;
  flex: 0 2 90%;
  padding: 16px 0;
  border-radius: 6px;
}

.userSelect {
  display: flex;
  justify-content: space-between;
  border-radius: 6px;
  background: var(--user-layer);
  box-shadow: 0px 4.4px 4.4px 0px rgba(0, 0, 0, 0.25);
  padding: 24px 64px;
  @media (max-width: 1024px) {
    padding: 4px 24px;
  }

  &__title {
    font-size: 40px;
    @media (max-width: 768px) {
      display: none;
    }
  }

  &__input, &__monthInput {
    border-radius: 12px;
    border: 1px solid #5C5C5C;
    background: #212121;
    color: var(--main-text);
    font-size: 24px;
    padding: 12px 24px;
  }

  &__monthInput {
    @media (min-width: 769px) {
      display: none;
    }
  }
}