.wrapper {
  display: flex;
  align-items: center;
  margin: 0 auto;
  width: 100%;
  padding: 0 0 0 78px;
  min-height: 100vh;

  @media (max-width: 1024px) {
    padding: 64px 0 8px;
  }
}

.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 32px;
}

.url__block, .settings__block {
  width: 85%;
  border-radius: 6px;
  background: var(--user-layer);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  padding: 54px;
  @media (max-width: 1248px) {
    width: 95%;
    padding: 32px 16px;
  }
}

.settings__block {
  display: flex;
  flex-direction: column;
  gap: 60px;
  @media (max-width: 1248px) {
    gap: 40px;
  }
}

.settings__block div:nth-child(1) {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 64px;
  
  label {
    min-width: 242px;
    flex: 1 0;
  }
}

.settings__block div:nth-child(2) {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 64px;

  label {
    min-width: 242px;
    width: 40%;
  }
}

.settings__block div:nth-child(3) {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 32px;

  label {
    width: 100px;
  }

  input::placeholder {
    font-size: 12px;
  }
}

.settings__block div:nth-child(4) {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 32px;

  label span::before {
    border: 2px solid #747474;
  }
}

.settings__block div:nth-child(5) {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  gap: 42px;

  @media (max-width: 1024px) {
    justify-content: center;
  }
  @media (max-width: 468px) {
    .linkBtn {
      width: 100%;
    }
  }
}

.url__block {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 52px;

  label {
    width: 60%;
    @media (max-width: 1024px) {
      width: 90%;
    }
  }
}

.priority {
  flex-wrap: nowrap;
  max-width: 360px;
}

.linkBtn {
  background-color: transparent;
  border: none;
  color: var(--main-text);
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-size: 24px;
  cursor: pointer;

  &:hover {
    text-decoration: underline;
  }
}