.lineChart {
  padding: 14px 20px;
  border-radius: 6px;
  background: var(--user-layer);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

  &__container {
    min-height: 220px;
    min-width: 220px;
    position: relative;
    margin: 0 auto;
  }

  &__title {
    font-weight: 600;
    color: var(--third-text);
  }

  &__labels {
    display: flex;
    align-items: center;
    padding: 32px 0;
    gap: 100px;

    &__text {
      font-weight: 400;
      color: var(--secondary-text);
      margin-left: 8px;
    }
  }

  @media (max-width: 768px) {
    display: none;
  }
}