.avatar {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 64px;
  width: 64px;
  border-radius: 50%;
  font-size: 24px;
  color: #fff;

  @media (max-width: 1024px) {
    height: 32px;
    width: 32px;
    &[data-collapse="true"] {
      height: 32px;
      width: 32px;
    }
  }
  @media (min-width: 1025px) {
    &[data-collapse="true"] {
      height: 42px;
      width: 42px;
    }
  }
}